---
import Profile from './../../assets/profile.png';
---

<div class='flex items-center gap-x-20 flex-col sm:flex-row'>
    <div
        class='max-w-[248px] rounded-md border-2 border-[var(--color-primary)] translate-y-2 w-full sm:translate-y-4 sm:w-2/5 mb-auto'
    >
        <img
            src={Profile.src}
            alt='foto de perfil de Ruiz Gonzalo'
            class='w-full rounded-md ml-2 -translate-y-2 sm:-translate-y-4 sm:ml-4'
        />
    </div>
    <div class='w-full sm:w-3/5 mt-20 sm:m-0'>
        <p class='text-lg mb-4'>
            Me llamo Ruiz Gonzalo. Desde la adolescencia siempre estuve
            interesado por la tecnología. Esta fascinación me llevó a formarme
            desde temprano como
            <strong>Técnico en Armado y Reparación de PC</strong>. Gracias a los
            conocimientos obtenidos, pude montar mi primer ordenador desde cero
            y con el cual me adentré al mundo de la programación.
        </p>

        <p class='text-lg'>
            Actualmente soy
            <strong>estudiante de Ingeniería en Sistemas de Información</strong>
            y <strong>desarrollador autónomo</strong>. A la hora de brindar
            respuesta a necesidades tecnologicas, tengo presente fusionar los
            conocimientos acádemicos adquiridos con mi experiencia práctica con
            el objetivo de crear soluciones competitivas.
        </p>
    </div>
</div>
