@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap");


@theme {
  --color-primary: #00d0f3;

}


@layer base {


  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
   background: #202020;
  }

  
  main {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
  
} 

  main::-webkit-scrollbar {
    display: none;             

  }
  h2 {
    @apply text-xl text-[#00d0f3]!
  }
  span, p, a, li {
   @apply text-sm 
  }

}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
