---
import Button from '../Button.astro';

type FM = {
    id: string;
    title: string;
    textCv: string;
};

const { frontmatter, Content } = Astro.props as {
    frontmatter: FM;
    Content?: any;
};

const { id, title, textCv } = frontmatter;
---

<section id={id} class='flex flex-col gap-6 scroll-mt-20'>
    <h1
        class='text-[44px] leading-[1.1] bg-gradient-to-r from-cyan-400 to-violet-400 bg-clip-text text-transparent'
    >
        {title}
    </h1>

    {
        Content && (
            <div class=' text-sm max-w-none text-white/90 prose-p:leading-relaxed'>
                <Content />
            </div>
        )
    }

    <div>
        <Button
            href='https://2illm3vygo.ufs.sh/f/Qzo0E6eAGv9W6IN1gZRyxdB2ID3bMLeCJE7V0XvK9NWiAwju'
            >{textCv}</Button
        >
    </div>
</section>
