---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/projects/Projects.astro';
import Section from '../components/Section.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import AboutMeIcon from '../components/icons/AboutMeIcon.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/about-me/AboutMe.astro';
---

<Layout title='Portafolio - Ruiz Gonzalo.'>
    <main class='px-4'>
        <section class='w-full mx-auto container lg:max-w-5xl md:max-w-3xl'>
            <Hero />
        </section>
        <Section>
            <h2>
                <CodeIcon class='size-8' />
                Proyectos
            </h2>
            <Projects />
        </Section>
        <Section>
            <h2>Tecnologías</h2>
        </Section>
        <Section>
            <h2>
                <AboutMeIcon class='size-8' />
                Sobre mí
            </h2>
            <AboutMe />
        </Section>
    </main>
</Layout>
