<footer class='relative w-full mx-auto h-[60px]'>
    <span id='line-footer'></span>
    <p
        class='absolute text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2'
    >
        &#128421; Hecho por Ruiz Gonzalo
    </p>
</footer>

<style>
    #line-footer {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        border: 2px solid;
        border-image-slice: 1;
        border-width: 0.5px;
        border-image-source: linear-gradient(
            to right,
            #141218,
            #16131b,
            #18151f,
            #191622,
            #1b1726,
            #1b1726,
            #1b1726,
            #1b1726,
            #191622,
            #18151f,
            #16131b,
            #141218
        );
    }
</style>
