---
import avatar from '../assets/avatar.jpeg';
import GitHubIcon from './icons/GitHubIcon.astro';
import WrapperIcon from './icons/WrapperIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import LinkButton from './links-button/LinkButton.astro';
---

<div
    class='flex flex-col justify-between items-center gap-20 sm:flex-row mt-[180px]'
>
    <div class='max-w-full lg:max-w-lg md:max-w-sm slide-in-left'>
        <h1 class='text-[var(--color-primary)]'>
            Ruiz Gonzalo
            <span class='block'>Desarrollador Fullstack</span>
        </h1>
        <p class='text-lg mt-4'>
            En constante aprendizaje de las últimas tecnologías y comprometido
            en ofrecer soluciones de calidad
        </p>

        <div class='flex items-center mt-12 gap-x-8 sm:mt-8'>
            <WrapperIcon href='https://github.com/rgonza14'>
                <GitHubIcon
                    class='size-11 text-white hover:text-[var(--color-button-bg)] sm:size-10'
                />
            </WrapperIcon>

            <WrapperIcon href='https://www.linkedin.com/in/rgonza14'>
                <LinkedInIcon
                    class='size-11 text-white hover:text-[var(--color-button-bg)] sm:size-10'
                />
            </WrapperIcon>
        </div>

        <LinkButton
            class='mt-12 sm:mt-8'
            href='https://www.dropbox.com/scl/fi/6y75tgo8huxgoji2t5erv/CV_Ruiz-Gonzalo.pdf?rlkey=2au0272ao9g7nes55367sg5lq&dl=1'
            >Descargar cv</LinkButton
        >
    </div>
    <img
        src={avatar.src}
        alt='avatar'
        class='size-[300px] rounded-full slide-in-right'
        id='avatar'
    />
</div>

<style>
    @media screen and (max-width: 380px) {
        #avatar {
            height: auto;
            width: auto;
        }
    }
</style>
