---
import avatar from '../assets/avatar.jpeg';
import GitHubIcon from './icons/GitHubIcon.astro';
import WrapperIcon from './icons/WrapperIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import LinkButton from './links-button/LinkButton.astro';
---

<div
    class='flex flex-col justify-between items-center gap-20 sm:flex-row mt-[180px]'
>
    <div class='max-w-full lg:max-w-lg md:max-w-sm slide-in-left'>
        <h1 class='text-[var(--color-primary)]'>
            Ruiz Gonzalo
            <span class='block'>Desarrollador Fullstack</span>
        </h1>
        <p class='mt-8 text-lg'>
            En constante aprendizaje de las últimas tecnologías y comprometido
            en ofrecer soluciones de calidad
        </p>

        <div class='flex items-center gap-6'>
            <WrapperIcon href='https://github.com/rgonza14'>
                <GitHubIcon
                    class='size-10 text-white hover:text-[var(--color-button-bg)]'
                />
            </WrapperIcon>

            <WrapperIcon href='https://www.linkedin.com/in/rgonza14'>
                <LinkedInIcon
                    class='size-10 text-white hover:text-[var(--color-button-bg)]'
                />
            </WrapperIcon>
        </div>

        <LinkButton
            class='mt-8'
            href='https://onedrive.live.com/download?resid=BACB194C14CA9721%2116028&authkey=!AJZauDFh_AIxZv4&em=2'
            >Descargar cv</LinkButton
        >
    </div>
    <img
        src={avatar.src}
        alt='avatar'
        class='size-[300px] rounded-full slide-in-right'
        id='avatar'
    />
</div>

<style>
    @media screen and (max-width: 380px) {
        #avatar {
            height: auto;
            width: auto;
        }
    }
</style>
